<table width="998" align="center" border="0" cellpadding="0" cellspacing="0">
  <tbody><tr>
    <td background="source/index_10_01.jpg"><table width="998" border="0" cellpadding="0" cellspacing="0">
      <tbody><tr>
        <td width="433"><img src="source/index_07_03.jpg" alt="" width="433" height="53"></td>
        <td width="565"><img src="source/index_08_01.jpg" width="565" height="53"></td>
      </tr>
    </tbody></table></td>
  </tr>
</tbody></table>
<table width="998" align="center" border="0" cellpadding="0" cellspacing="0">
  <tbody><tr>
    <td background="source/index_10_01.jpg"><table width="998" border="0" cellpadding="0" cellspacing="0">
      <tbody><tr>
        <td valign="top" width="198"><table width="160" align="center" border="0" cellpadding="0" cellspacing="0">
            <tbody><tr>
					<td>
<table width="160" align="center" border="0" cellpadding="0" cellspacing="0">
  <tbody><tr>
    <td width="23"><img src="source/index_11_01.gif" width="23" height="26"></td>
    <td class="f9bold" width="126" bgcolor="#ceb179"><span style="margin-left: 6px;">稻香村系列</span></td>
    <td width="11"><img src="source/index_11_02.gif" width="11" height="26"></td>
  </tr>
</tbody></table>
<table width="160" align="center" border="0" cellpadding="0" cellspacing="0">
  <tbody><tr>
    <td height="10"></td>
  </tr>
</tbody></table>
<table width="160" align="center" border="0" cellpadding="0" cellspacing="0">
  
  <tbody><tr>
    <td width="25"></td>
    <td class="f9" width="18" align="center" height="25">·</td>
    <td class="f9" width="117"><a href="http://www.dxczm.com/end1.asp?news_id=275">金秋佳礼</a></td>
  </tr>
  
  <tr>
    <td width="25"></td>
    <td class="f9" width="18" align="center" height="25">·</td>
    <td class="f9" width="117"><a href="http://www.dxczm.com/end1.asp?news_id=278">富贵满堂</a></td>
  </tr>
  
  <tr>
    <td width="25"></td>
    <td class="f9" width="18" align="center" height="25">·</td>
    <td class="f9" width="117"><a href="http://www.dxczm.com/end1.asp?news_id=284">尚月珍礼</a></td>
  </tr>
  
  <tr>
    <td width="25"></td>
    <td class="f9" width="18" align="center" height="25">·</td>
    <td class="f9" width="117"><a href="http://www.dxczm.com/end1.asp?news_id=291">华月祥礼</a></td>
  </tr>
  
  <tr>
    <td width="25"></td>
    <td class="f9" width="18" align="center" height="25">·</td>
    <td class="f9" width="117"><a href="http://www.dxczm.com/end1.asp?news_id=293">御礼</a></td>
  </tr>
  
  <tr>
    <td width="25"></td>
    <td class="f9" width="18" align="center" height="25">·</td>
    <td class="f9" width="117"><a href="http://www.dxczm.com/end1.asp?news_id=294">锦月</a></td>
  </tr>
  
  <tr>
    <td width="25"></td>
    <td class="f9" width="18" align="center" height="25">·</td>
    <td class="f9" width="117"><a href="http://www.dxczm.com/end1.asp?news_id=301">金碧辉煌</a></td>
  </tr>
  
  <tr>
    <td width="25"></td>
    <td class="f9" width="18" align="center" height="25">·</td>
    <td class="f9" width="117"><a href="http://www.dxczm.com/end1.asp?news_id=302">木糖醇</a></td>
  </tr>
  
  <tr>
    <td width="25"></td>
    <td class="f9" width="18" align="center" height="25">·</td>
    <td class="f9" width="117"><a href="http://www.dxczm.com/end1.asp?news_id=303">迎月纳福</a></td>
  </tr>
  
  <tr>
    <td width="25"></td>
    <td class="f9" width="18" align="center" height="25">·</td>
    <td class="f9" width="117"><a href="http://www.dxczm.com/end1.asp?news_id=304">尊礼</a></td>
  </tr>
  
  <tr>
    <td width="25"></td>
    <td class="f9" width="18" align="center" height="25">·</td>
    <td class="f9" width="117"><a href="http://www.dxczm.com/end1.asp?news_id=305">经典盛礼</a></td>
  </tr>
  
  <tr>
    <td width="25"></td>
    <td class="f9" width="18" align="center" height="25">·</td>
    <td class="f9" width="117"><a href="http://www.dxczm.com/end1.asp?news_id=306">稻香村苏式月饼</a></td>
  </tr>
  
  <tr>
    <td width="25"></td>
    <td class="f9" width="18" align="center" height="25">·</td>
    <td class="f9" width="117"><a href="http://www.dxczm.com/end1.asp?news_id=307">富贵</a></td>
  </tr>
  
  <tr>
    <td width="25"></td>
    <td class="f9" width="18" align="center" height="25">·</td>
    <td class="f9" width="117"><a href="http://www.dxczm.com/end1.asp?news_id=308">祥月瑞礼</a></td>
  </tr>
  
  <tr>
    <td width="25"></td>
    <td class="f9" width="18" align="center" height="25">·</td>
    <td class="f9" width="117"><a href="http://www.dxczm.com/end1.asp?news_id=309">尚月佳礼</a></td>
  </tr>
  
  <tr>
    <td width="25"></td>
    <td class="f9" width="18" align="center" height="25">·</td>
    <td class="f9" width="117"><a href="http://www.dxczm.com/end1.asp?news_id=310">贡礼</a></td>
  </tr>
  
  <tr>
    <td width="25"></td>
    <td class="f9" width="18" align="center" height="25">·</td>
    <td class="f9" width="117"><a href="http://www.dxczm.com/end1.asp?news_id=313">和合如意</a></td>
  </tr>
  
  <tr>
    <td width="25"></td>
    <td class="f9" width="18" align="center" height="25">·</td>
    <td class="f9" width="117"><a href="http://www.dxczm.com/end1.asp?news_id=314">赏月</a></td>
  </tr>
  
  <tr>
    <td width="25"></td>
    <td class="f9" width="18" align="center" height="25">·</td>
    <td class="f9" width="117"><a href="http://www.dxczm.com/end1.asp?news_id=315">如意什锦月饼</a></td>
  </tr>
  
  <tr>
    <td width="25"></td>
    <td class="f9" width="18" align="center" height="25">·</td>
    <td class="f9" width="117"><a href="http://www.dxczm.com/end1.asp?news_id=317">喜团圆</a></td>
  </tr>
  
  <tr>
    <td width="25"></td>
    <td class="f9" width="18" align="center" height="25">·</td>
    <td class="f9" width="117"><a href="http://www.dxczm.com/end1.asp?news_id=320">佳节好礼</a></td>
  </tr>
  
  <tr>
    <td width="25"></td>
    <td class="f9" width="18" align="center" height="25">·</td>
    <td class="f9" width="117"><a href="http://www.dxczm.com/end1.asp?news_id=321">金腿伍仁月饼</a></td>
  </tr>
  
  <tr>
    <td width="25"></td>
    <td class="f9" width="18" align="center" height="25">·</td>
    <td class="f9" width="117"><a href="http://www.dxczm.com/end1.asp?news_id=323">双黄白莲蓉</a></td>
  </tr>
  
</tbody></table>
<table width="160" align="center" border="0" cellpadding="0" cellspacing="0">
  <tbody><tr>
    <td height="10"></td>
  </tr>
</tbody></table>
<table width="160" align="center" border="0" cellpadding="0" cellspacing="0">
  <tbody><tr>
    <td width="23"><img src="source/index_11_01.gif" width="23" height="26"></td>
    <td class="f9bold" width="126" bgcolor="#ceb179"><span style="margin-left: 6px;">国饼十佳系列</span></td>
    <td width="11"><img src="source/index_11_02.gif" width="11" height="26"></td>
  </tr>
</tbody></table>
<table width="160" align="center" border="0" cellpadding="0" cellspacing="0">
  <tbody><tr>
    <td height="10"></td>
  </tr>
</tbody></table>
<table width="160" align="center" border="0" cellpadding="0" cellspacing="0">
  
  <tbody><tr>
    <td width="25"></td>
    <td class="f9" width="18" align="center" height="25">·</td>
    <td class="f9" width="117"><a href="http://www.dxczm.com/end2.asp?news_id=250">中华祥礼</a></td>
  </tr>
  
  <tr>
    <td width="25"></td>
    <td class="f9" width="18" align="center" height="25">·</td>
    <td class="f9" width="117"><a href="http://www.dxczm.com/end2.asp?news_id=251">中华豪礼</a></td>
  </tr>
  
  <tr>
    <td width="25"></td>
    <td class="f9" width="18" align="center" height="25">·</td>
    <td class="f9" width="117"><a href="http://www.dxczm.com/end2.asp?news_id=266">中华尊礼</a></td>
  </tr>
  
  <tr>
    <td width="25"></td>
    <td class="f9" width="18" align="center" height="25">·</td>
    <td class="f9" width="117"><a href="http://www.dxczm.com/end2.asp?news_id=267">中华金礼</a></td>
  </tr>
  
</tbody></table>
<table width="160" align="center" border="0" cellpadding="0" cellspacing="0">
  <tbody><tr>
    <td height="10"></td>
  </tr>
</tbody></table>
<table width="160" align="center" border="0" cellpadding="0" cellspacing="0">
  <tbody><tr>
    <td height="60"></td>
  </tr>
</tbody></table>
<!--
<table width="160" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td height="40" valign="top"><img src="images/index_20.jpg" width="83" height="16" /></td>
  </tr>
</table>


<table width="160" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td><form id="form1" name="form1" method="post" action="search.asp">
      <table width="160" border="0" align="center" cellpadding="0" cellspacing="0">
        <tr>
          <td width="122" height="24" align="center" bgcolor="#E1C897"><input name="xxxx" type="text" id="xxxx" style="width:115px; height:16px; border:1px solid #CCCCCC;" /></td>
          <td width="38" height="24" align="left" bgcolor="#E1C897"><input type="submit" name="Submit" value="搜索" style="border:1px solid #CCCCCC; height:18px; width:35px;" /></td>
        </tr>
      </table>
    </form></td>
  </tr>
</table>
-->

              </td>
            </tr>
          </tbody></table></td>
        <td valign="top" width="800"><table width="780" align="center" border="0" cellpadding="0" cellspacing="0">
          <tbody><tr>
            <td><table width="706" align="center" border="0" cellpadding="0" cellspacing="0">
                <tbody><tr>
                  <td valign="bottom" align="center" height="30"><span class="f11bold">公司简介</span></td>
                  </tr>
              </tbody></table>
                <table width="706" align="center" border="0" cellpadding="0" cellspacing="0">
                  <tbody><tr>
                    <td height="16"><table width="100%" border="0" cellpadding="0" cellspacing="0">
                        <tbody><tr>
                          <td background="source/line.gif" height="1"></td>
                        </tr>
                    </tbody></table></td>
                  </tr>
                </tbody></table>
              <table width="706" align="center" border="0" cellpadding="0" cellspacing="0">
                  <tbody><tr>
                    <td align="left"><span class="f9"><blockquote dir="ltr" 0px="">
<blockquote dir="ltr" 0px="">
<blockquote dir="ltr" 0px="">
<p align="left"><font face="Verdana"><font face="Verdana"><font face="Verdana"><font face="Verdana"><font face="Verdana"><font face="Verdana"><font face="Verdana"><font face="Verdana"><font face="Verdana"><font face="Verdana"><font face="Verdana"><font face="Verdana"><font face="Verdana"><font face="Verdana"><font face="Verdana"><font face="Verdana"><font face="Verdana"><font face="Verdana"><font face="Verdana"><font face="Verdana"><font face="Verdana"><font face="Verdana"><font size="3" face="Verdana"><strong>&nbsp;&nbsp;&nbsp; </strong></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></p></blockquote>
<p dir="ltr" align="left"><font face="Verdana"><font face="Verdana"><font face="Verdana"><font face="Verdana"><font face="Verdana"><font face="Verdana"><font face="Verdana"><font face="Verdana"><font face="Verdana"><font face="Verdana"><font face="Verdana"><font face="Verdana"><font face="Verdana"><font face="Verdana"><font face="Verdana"><font face="Verdana"><font face="Verdana"><font face="Verdana"><font face="Verdana"><font face="Verdana"><font face="Verdana"><font face="Verdana"><font size="3" face="Verdana"><strong>&nbsp;&nbsp;&nbsp;&nbsp; 『稻香村』品牌始创于清乾隆三十八年(公元一七七三年),至今已有两百二十一年的历史,是享誉中外的著名糕点品牌,稻香村以其悠久的历史超群的技艺和卓著的信誉,被誉为『糕点泰斗、饼艺至尊』。<br><br>&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;稻香村月饼,秉承百年饼业精粹,以其独特的方式,优选特级原料,融合现代先进技术,产品风味绝佳、品位一流,实乃中秋节馈赠、自奉之选。今年稻香村月饼荣获『中国最佳特色月饼』和『中国十佳月饼』等殊荣。</strong></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></p>
<p dir="ltr" 0px="" align="left"><strong><font size="3">&nbsp;&nbsp; 我们本着做一流的产品，合理的价格，诚信的服务来为您的中秋提供放心的月饼，凡在本网站订购的月饼如有任何质量问题我们将双倍赔偿。</font></strong></p>
<p dir="ltr" 0px="" align="left">&nbsp;</p>
<p dir="ltr" 0px="" align="center">&nbsp;</p>
<p dir="ltr" 0px="" align="center"><img src="source/2007727154131152.jpg" 291px="" height:="" 412px;="" width="334" border="0" height="248"><img src="source/200772715426632.jpg" height:="" 412px;="" 250px="" width="332" border="0" height="248"></p>
<p dir="ltr" 0px="" align="center">&nbsp;</p>
<p dir="ltr" 0px="" align="center">&nbsp;</p>
<p dir="ltr" 0px="" align="right"><img src="source/2008513112628411.jpg" border="0"></p></blockquote></blockquote><br><div style="text-align: right;"></div></span></td>
                  </tr>
                </tbody></table>
              <table width="580" align="center" border="0" cellpadding="0" cellspacing="0">
                  <tbody><tr>
                    <td height="10"></td>
                  </tr>
                </tbody></table>
              <table width="580" align="center" border="0" cellpadding="0" cellspacing="0">
                  <tbody><tr>
                    <td height="10"></td>
                  </tr>
              </tbody></table></td>
          </tr>
        </tbody></table></td>
      </tr>
    </tbody></table></td>
  </tr>
</tbody></table>
<table width="998" align="center" border="0" cellpadding="0" cellspacing="0">
  <tbody><tr>
    <td><img src="source/index_15.jpg" alt="" width="998" height="37"></td>
  </tr>
</tbody></table></td>
  </tr>
</tbody></table>
