<?php
	return <<<FOOTER
<table width="998" align="center" border="0" cellpadding="0" cellspacing="0">
	<tbody><tr><td bgcolor="#fbf3e0">
				<table width="975" align="center" border="0" cellpadding="0" cellspacing="0">
					<tbody><tr>
							<td class="f9" align="center" bgcolor="#f6e3b8" height="30">
								<a href="#" class="f9">产品目录</a> - 
								<a href="#">月饼介绍</a> - 
								<a href="#">代理合作</a> - 
								<a href="#">配送付款</a> - 
								<a href="#" class="f9">联系我们</a>　
								<a target="blank" href="tencent://message/?uin=313543360&amp;Site=www.dxcstore.cn&amp;Menu=yes"><img src="{$glo_web_path}source/pa" alt="点击这里给我发消息" border="0"></a>
							</td>
					</tr></tbody>
				</table>
				<table width="975" align="center" border="0" cellpadding="0" cellspacing="0">
					<tbody><tr>
							<td height="7"></td>
					</tr></tbody>
				</table>
	</td></tr></tbody>
</table>
<table width="998" align="center" border="0" cellpadding="0" cellspacing="0">
	<tbody><tr>	
			<td width="33" align="right" bgcolor="#fbf3e0"><img src="{$glo_web_path}source/foot_2008_01.jpg" alt="" width="22" height="89"></td>
			<td class="f9" width="931" align="center" background="{$glo_web_path}source/foot_2008_03.jpg">
				<table width="100%" border="0" cellpadding="0" cellspacing="0">
					<tbody><tr>
							<td align="center"><p><font size="2" color="#000000" face="Verdana"><strong><font color="#884b22">团购免费送货热线：13269101675&nbsp; 15910976616<br>E-MAIL：dxcstore@126.com</font></strong></font></p></td>
						</tr>
						<tr>
							<td align="center"><a href="http://www.miibeian.gov.cn/" target="_blank">京ICP备07031688号</a></td>
						</tr>
					</tbody>
				</table>
			</td>
			<td width="34" bgcolor="#fbf3e0"><img src="{$glo_web_path}source/foot_2008_02.jpg" alt="" width="22" height="89"></td>
	</tr></tbody>
</table>
</body>
</html>
FOOTER;
?>
