<?php
return <<<HEADER
<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta content="{$tplVars['header']['description']}" name="description">
		<meta content="{$tplVars['header']['keywords']}" name="keywords">
		<meta content="{$tplVars['header']['copyright']}" name="copyright">
		<meta name="author" content="laruence at yahoo.com.cn">
		<link href="{$glo_web_path}source/basiccn.htm" rel="stylesheet" type="text/css">
		<link href="{$glo_web_path}source/style.htm" type="text/css" rel="stylesheet">
		<link href="{$glo_web_path}source/main.css" rel="stylesheet" type="text/css">
	</head>
		<title>{$tplVars['header']['title']}</title>
	<body>
		<table width="998" align="center" border="0" cellpadding="0" cellspacing="0">
			<tbody><tr>
				<td width="270" background="{$glo_web_path}source/index_02.jpg"><img src="{$glo_web_path}source/index_01.jpg" alt="" width="260" height="160"></td>
					<td valign="top" width="679" align="right" background="{$glo_web_path}source/index_02.jpg">
						<table width="637" border="0" cellpadding="0" cellspacing="0" height="110">
							<tbody><tr>
								<td class="f9" valign="top" width="627" align="right">
									<a target="_top" href='javascript:window.external.addfavorite("http://www.dxcstore.cn","%E7%A8%BB%E9%A6%99%E6%9D%91%E4%B8%93%E5%8D%96%E5%9B%A2%E8%B4%AD%E7%BD%91")' class="f9">加入收藏</a> |
									<span onclick="var strHref=window.location.href;this.style.behavior='url(#default#homepage)';this.setHomePage('http://www.dxcstore.cn');" style=""><a href="#" class="f9">设为首页</a></span>
								</td>
								<td valign="top" width="10" align="right"></td>
							</tr></tbody>
					</table>
		<table width="637" border="0" cellpadding="0" cellspacing="0">
			<tbody><tr>
				<td align="left">
					<table id="__01" width="627" border="0" cellpadding="0" cellspacing="0" height="44">
						<tbody><tr>
							<td><img src="{$glo_web_path}source/dxc_header1_01.jpg" alt="" width="11" height="44"></td>
							<td><a href="{$glo_web_path}"><img src="{$glo_web_path}source/dxc_header1_02.jpg" alt="" width="57" border="0" height="44"></a></td>
							<td><img src="{$glo_web_path}source/dxc_header1_03.jpg" alt="" width="17" height="44"></td>
							<td><a href="{$glo_web_path}category/company/"><img src="{$glo_web_path}source/dxc_header1_04.jpg" alt="" width="69" border="0" height="44"></a></td>
							<td><img src="{$glo_web_path}source/dxc_header1_05.jpg" alt="" width="19" height="44"></td>
							<td><a href="{$glo_web_path}category/products/"><img src="{$glo_web_path}source/dxc_header1_06.jpg" alt="" width="71" border="0" height="44"></a></td>
							<td><img src="{$glo_web_path}source/dxc_header1_07.jpg" alt="" width="23" height="44"></td>
							<td><a href="{$glo_web_path}category/other/"><img src="{$glo_web_path}source/dxc_header1_08.jpg" alt="" width="68" border="0" height="44"></a></td>
							<td><img src="{$glo_web_path}source/dxc_header1_09.jpg" alt="" width="23" height="44"></td>
							<td><a href="{$glo_web_path}category/sale/"><img src="{$glo_web_path}source/dxc_header1_10.jpg" alt="" width="70" border="0" height="44"></a></td>
							<td><img src="{$glo_web_path}source/dxc_header1_11.jpg" alt="" width="18" height="44"></td>
							<td><a href="{$glo_web_path}category/5/"><img src="{$glo_web_path}source/dxc_header1_12.jpg" alt="" width="66" border="0" height="44"></a></td>
							<td><img src="{$glo_web_path}source/dxc_header1_13.jpg" alt="" width="18" height="44"></td>
							<td><a href="{$glo_web_path}category/7/"><img src="{$glo_web_path}source/dxc_header1_100.jpg" alt="" width="80" border="0" height="44"></a></td>
							<td><img src="{$glo_web_path}source/dxc_header1_13.jpg" alt="" width="18" height="44"></td>
							<td><a href="{$glo_web_path}category/contact/"><img src="{$glo_web_path}source/dxc_header1_14.jpg" alt="" width="68" border="0" height="44"></a></td>
							<td><img src="{$glo_web_path}source/dxc_header1_15.jpg" alt="" width="17" height="44"></td>
							</tr>
						</tbody></table></td>
					</tr>
				</tbody></table>
			</td>
		</tr>
</tbody>
</table>
	<table width="998" align="center" border="0" cellpadding="0" cellspacing="0">
		<tbody><tr>
			<td valign="top" height="220"><table width="998" align="center" border="0" cellpadding="0" cellspacing="0" height="220">
				<tbody><tr>
					<td valign="top" background="{$glo_web_path}source/index_06.jpg"><table width="998" border="0" cellpadding="0" cellspacing="0">
						<tbody><tr>
							<td width="472" align="right">
								<object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=7,0,19,0" width="328" height="179">
								<param name="movie" value="flash/flash3.swf">
								<param name="quality" value="high">
								<param name="wmode" value="transparent">
								<embed src="{$glo_web_path}source/flash3.swf" quality="high" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" wmode="transparent" width="328" height="179">
						</object></td>
							<td width="220" align="left">&nbsp;</td>
							<td width="306">&nbsp;</td>
						</tr>
					</tbody></table></td>
				</tr>
			</tbody></table></td>
		</tr>
</tbody></table>
HEADER;
?>
