<table width="998" align="center" border="0" cellpadding="0" cellspacing="0">
	<tbody><tr>
			<td background="source/index_10_01.jpg"><table width="998" border="0" cellpadding="0" cellspacing="0">
					<tbody><tr>
							<td width="433"><img src="source/index_21.jpg" alt="" width="433" height="53"></td>
							<td width="565"><img src="source/index_08_01.jpg" width="565" height="53"></td>
						</tr>
			</tbody></table></td>
		</tr>
</tbody></table>
<table width="998" align="center" border="0" cellpadding="0" cellspacing="0">
	<tbody><tr>
			<td background="source/index_10_01.jpg"><table width="998" border="0" cellpadding="0" cellspacing="0">
					<tbody><tr>
							<td valign="top" width="198"><table width="160" align="center" border="0" cellpadding="0" cellspacing="0">
									<tbody><tr>
											<td><link href="source/main.css" rel="stylesheet" type="text/css">
												<table width="160" align="center" border="0" cellpadding="0" cellspacing="0">
													<tbody><tr>
															<td width="23"><img src="source/index_11_01.gif" width="23" height="26"></td>
															<td class="f9bold" width="126" bgcolor="#ceb179"><span style="margin-left: 6px;">稻香村系列</span></td>
															<td width="11"><img src="source/index_11_02.gif" width="11" height="26"></td>
														</tr>
												</tbody></table>
												<table width="160" align="center" border="0" cellpadding="0" cellspacing="0">
													<tbody><tr>
															<td height="10"></td>
														</tr>
												</tbody></table>
												<table width="160" align="center" border="0" cellpadding="0" cellspacing="0">

													<tbody><tr>
															<td width="25"></td>
															<td class="f9" width="18" align="center" height="25">·</td>
															<td class="f9" width="117"><a href="http://www.dxczm.com/end1.asp?news_id=275">金秋佳礼</a></td>
														</tr>

														<tr>
															<td width="25"></td>
															<td class="f9" width="18" align="center" height="25">·</td>
															<td class="f9" width="117"><a href="http://www.dxczm.com/end1.asp?news_id=278">富贵满堂</a></td>
														</tr>

														<tr>
															<td width="25"></td>
															<td class="f9" width="18" align="center" height="25">·</td>
															<td class="f9" width="117"><a href="http://www.dxczm.com/end1.asp?news_id=284">尚月珍礼</a></td>
														</tr>

														<tr>
															<td width="25"></td>
															<td class="f9" width="18" align="center" height="25">·</td>
															<td class="f9" width="117"><a href="http://www.dxczm.com/end1.asp?news_id=291">华月祥礼</a></td>
														</tr>

														<tr>
															<td width="25"></td>
															<td class="f9" width="18" align="center" height="25">·</td>
															<td class="f9" width="117"><a href="http://www.dxczm.com/end1.asp?news_id=293">御礼</a></td>
														</tr>

														<tr>
															<td width="25"></td>
															<td class="f9" width="18" align="center" height="25">·</td>
															<td class="f9" width="117"><a href="http://www.dxczm.com/end1.asp?news_id=294">锦月</a></td>
														</tr>

														<tr>
															<td width="25"></td>
															<td class="f9" width="18" align="center" height="25">·</td>
															<td class="f9" width="117"><a href="http://www.dxczm.com/end1.asp?news_id=301">金碧辉煌</a></td>
														</tr>

														<tr>
															<td width="25"></td>
															<td class="f9" width="18" align="center" height="25">·</td>
															<td class="f9" width="117"><a href="http://www.dxczm.com/end1.asp?news_id=302">木糖醇</a></td>
														</tr>

														<tr>
															<td width="25"></td>
															<td class="f9" width="18" align="center" height="25">·</td>
															<td class="f9" width="117"><a href="http://www.dxczm.com/end1.asp?news_id=303">迎月纳福</a></td>
														</tr>

														<tr>
															<td width="25"></td>
															<td class="f9" width="18" align="center" height="25">·</td>
															<td class="f9" width="117"><a href="http://www.dxczm.com/end1.asp?news_id=304">尊礼</a></td>
														</tr>

														<tr>
															<td width="25"></td>
															<td class="f9" width="18" align="center" height="25">·</td>
															<td class="f9" width="117"><a href="http://www.dxczm.com/end1.asp?news_id=305">经典盛礼</a></td>
														</tr>

														<tr>
															<td width="25"></td>
															<td class="f9" width="18" align="center" height="25">·</td>
															<td class="f9" width="117"><a href="http://www.dxczm.com/end1.asp?news_id=306">稻香村苏式月饼</a></td>
														</tr>

														<tr>
															<td width="25"></td>
															<td class="f9" width="18" align="center" height="25">·</td>
															<td class="f9" width="117"><a href="http://www.dxczm.com/end1.asp?news_id=307">富贵</a></td>
														</tr>

														<tr>
															<td width="25"></td>
															<td class="f9" width="18" align="center" height="25">·</td>
															<td class="f9" width="117"><a href="http://www.dxczm.com/end1.asp?news_id=308">祥月瑞礼</a></td>
														</tr>

														<tr>
															<td width="25"></td>
															<td class="f9" width="18" align="center" height="25">·</td>
															<td class="f9" width="117"><a href="http://www.dxczm.com/end1.asp?news_id=309">尚月佳礼</a></td>
														</tr>

														<tr>
															<td width="25"></td>
															<td class="f9" width="18" align="center" height="25">·</td>
															<td class="f9" width="117"><a href="http://www.dxczm.com/end1.asp?news_id=310">贡礼</a></td>
														</tr>

														<tr>
															<td width="25"></td>
															<td class="f9" width="18" align="center" height="25">·</td>
															<td class="f9" width="117"><a href="http://www.dxczm.com/end1.asp?news_id=313">和合如意</a></td>
														</tr>

														<tr>
															<td width="25"></td>
															<td class="f9" width="18" align="center" height="25">·</td>
															<td class="f9" width="117"><a href="http://www.dxczm.com/end1.asp?news_id=314">赏月</a></td>
														</tr>

														<tr>
															<td width="25"></td>
															<td class="f9" width="18" align="center" height="25">·</td>
															<td class="f9" width="117"><a href="http://www.dxczm.com/end1.asp?news_id=315">如意什锦月饼</a></td>
														</tr>

														<tr>
															<td width="25"></td>
															<td class="f9" width="18" align="center" height="25">·</td>
															<td class="f9" width="117"><a href="http://www.dxczm.com/end1.asp?news_id=317">喜团圆</a></td>
														</tr>

														<tr>
															<td width="25"></td>
															<td class="f9" width="18" align="center" height="25">·</td>
															<td class="f9" width="117"><a href="http://www.dxczm.com/end1.asp?news_id=320">佳节好礼</a></td>
														</tr>

														<tr>
															<td width="25"></td>
															<td class="f9" width="18" align="center" height="25">·</td>
															<td class="f9" width="117"><a href="http://www.dxczm.com/end1.asp?news_id=321">金腿伍仁月饼</a></td>
														</tr>

														<tr>
															<td width="25"></td>
															<td class="f9" width="18" align="center" height="25">·</td>
															<td class="f9" width="117"><a href="http://www.dxczm.com/end1.asp?news_id=323">双黄白莲蓉</a></td>
														</tr>

												</tbody></table>
												<table width="160" align="center" border="0" cellpadding="0" cellspacing="0">
													<tbody><tr>
															<td height="10"></td>
														</tr>
												</tbody></table>
												<table width="160" align="center" border="0" cellpadding="0" cellspacing="0">
													<tbody><tr>
															<td width="23"><img src="source/index_11_01.gif" width="23" height="26"></td>
															<td class="f9bold" width="126" bgcolor="#ceb179"><span style="margin-left: 6px;">国饼十佳系列</span></td>
															<td width="11"><img src="source/index_11_02.gif" width="11" height="26"></td>
														</tr>
												</tbody></table>
												<table width="160" align="center" border="0" cellpadding="0" cellspacing="0">
													<tbody><tr>
															<td height="10"></td>
														</tr>
												</tbody></table>
												<table width="160" align="center" border="0" cellpadding="0" cellspacing="0">

													<tbody><tr>
															<td width="25"></td>
															<td class="f9" width="18" align="center" height="25">·</td>
															<td class="f9" width="117"><a href="http://www.dxczm.com/end2.asp?news_id=250">中华祥礼</a></td>
														</tr>

														<tr>
															<td width="25"></td>
															<td class="f9" width="18" align="center" height="25">·</td>
															<td class="f9" width="117"><a href="http://www.dxczm.com/end2.asp?news_id=251">中华豪礼</a></td>
														</tr>

														<tr>
															<td width="25"></td>
															<td class="f9" width="18" align="center" height="25">·</td>
															<td class="f9" width="117"><a href="http://www.dxczm.com/end2.asp?news_id=266">中华尊礼</a></td>
														</tr>

														<tr>
															<td width="25"></td>
															<td class="f9" width="18" align="center" height="25">·</td>
															<td class="f9" width="117"><a href="http://www.dxczm.com/end2.asp?news_id=267">中华金礼</a></td>
														</tr>

												</tbody></table>
												<table width="160" align="center" border="0" cellpadding="0" cellspacing="0">
													<tbody><tr>
															<td height="10"></td>
														</tr>
												</tbody></table>
												<table width="160" align="center" border="0" cellpadding="0" cellspacing="0">
													<tbody><tr>
															<td height="60"></td>
														</tr>
												</tbody></table>
												<!--
												<table width="160" border="0" align="center" cellpadding="0" cellspacing="0">
													<tr>
														<td height="40" valign="top"><img src="images/index_20.jpg" width="83" height="16" /></td>
													</tr>
												</table>


												<table width="160" border="0" align="center" cellpadding="0" cellspacing="0">
													<tr>
														<td><form id="form1" name="form1" method="post" action="search.asp">
																<table width="160" border="0" align="center" cellpadding="0" cellspacing="0">
																	<tr>
																		<td width="122" height="24" align="center" bgcolor="#E1C897"><input name="xxxx" type="text" id="xxxx" style="width:115px; height:16px; border:1px solid #CCCCCC;" /></td>
																		<td width="38" height="24" align="left" bgcolor="#E1C897"><input type="submit" name="Submit" value="搜索" style="border:1px solid #CCCCCC; height:18px; width:35px;" /></td>
																	</tr>
																</table>
														</form></td>
													</tr>
												</table>
												-->

											</td>
										</tr>
							</tbody></table></td>
							<td valign="top" width="800"><table width="320" align="center" border="0" cellpadding="0" cellspacing="0">
									<tbody><tr>
											<td height="16"></td>
										</tr>
								</tbody></table>
								<table width="760" align="center" border="0" cellpadding="0" cellspacing="0">
									<tbody><tr>
											<td><table width="370" border="0" cellpadding="0" cellspacing="0">
													<tbody><tr>

															<td><table width="370" border="0" cellpadding="0" cellspacing="0">
																	<tbody><tr>
																			<td><table width="350" border="0" cellpadding="0" cellspacing="0">
																					<tbody><tr>
																							<td width="203"><table width="203" border="0" cellpadding="0" cellspacing="0" height="150">
																									<tbody><tr>
																											<td background="source/bg01.gif"><table width="185" border="0" cellpadding="0" cellspacing="0" height="150">
																													<tbody><tr>
																															<td valign="middle" align="center">
																																<a href="http://www.dxczm.com/end.asp?news_id=304"><img src="source/200781223047997.jpg" alt="" vspace="3" width="178" border="0" height="144" hspace="3"></a></td>
																														</tr>
																											</tbody></table></td>
																										</tr>
																							</tbody></table></td>
																							<td class="f9bold" valign="top">
																								<table width="130" border="0" cellpadding="0" cellspacing="0">
																									<tbody><tr>
																											<td align="left"><a href="http://www.dxczm.com/end.asp?news_id=304">稻香村月饼*尊礼<br>
																													鲍鱼月饼 燕窝月饼<br>
																													奶油椰蓉 玫瑰豆沙<br>
																													黑芝麻蓉 精制伍仁<br>
																													双黄白莲蓉<br>
																													-----------------<br>
																													团购价格：448元<br>
																													市场零售价:498元<br>
																													详细信息&gt;&gt;  <br>
																											</a></td>
																										</tr>
																								</tbody></table>
																							</td>
																						</tr>
																				</tbody></table>

																				<table width="100%" border="0" cellpadding="0" cellspacing="0">
																					<tbody><tr>
																							<td height="20"></td>
																						</tr>
																			</tbody></table></td>
																		</tr>
															</tbody></table></td>

															<td><table width="370" border="0" cellpadding="0" cellspacing="0">
																	<tbody><tr>
																			<td><table width="350" border="0" cellpadding="0" cellspacing="0">
																					<tbody><tr>
																							<td width="203"><table width="203" border="0" cellpadding="0" cellspacing="0" height="150">
																									<tbody><tr>
																											<td background="source/bg01.gif"><table width="185" border="0" cellpadding="0" cellspacing="0" height="150">
																													<tbody><tr>
																															<td valign="middle" align="center">
																																<a href="http://www.dxczm.com/end.asp?news_id=263"><img src="source/2007731143219968.jpg" alt="" vspace="3" width="178" border="0" height="144" hspace="3"></a></td>
																														</tr>
																											</tbody></table></td>
																										</tr>
																							</tbody></table></td>
																							<td class="f9bold" valign="top">
																								<table width="130" border="0" cellpadding="0" cellspacing="0">
																									<tbody><tr>
																											<td align="left"><a href="http://www.dxczm.com/end.asp?news_id=263">稻香村月饼*尊礼<br>
																													鲍鱼月饼 燕窝月饼<br>
																													奶油椰蓉 玫瑰豆沙<br>
																													黑芝麻蓉 精制伍仁<br>
																													双黄白莲蓉<br>
																													-----------------<br>
																													团购价格：423元<br>
																													市场零售价：498元<br>
																													详细信息&gt;&gt; <br>
																													<br>
																											</a></td>
																										</tr>
																								</tbody></table>
																							</td>
																						</tr>
																				</tbody></table>

																				<table width="100%" border="0" cellpadding="0" cellspacing="0">
																					<tbody><tr>
																							<td height="20"></td>
																						</tr>
																			</tbody></table></td>
																		</tr>
															</tbody></table></td>
															</tr><tr>
														</tr>
											</tbody></table></td>
										</tr>
								</tbody></table>
								<table width="593" border="0" cellpadding="0" cellspacing="0">
									<tbody><tr>
											<td>&nbsp;</td>
										</tr>
							</tbody></table></td>
						</tr>
			</tbody></table></td>
		</tr>
</tbody></table>
<table width="998" align="center" border="0" cellpadding="0" cellspacing="0">
	<tbody><tr>
			<td><img src="source/index_15.jpg" alt="" width="998" height="37"></td>
		</tr>
</tbody></table>
