.lequn {
	BORDER-TOP: #ffffff 1px solid
}
.font24 {
	LINE-HEIGHT: 24px
}
.mb {
	
}
.font12 {
	BORDER-RIGHT: #666666 1px solid; BORDER-TOP: #666666 1px solid; FONT-SIZE: 12px; BORDER-LEFT: #666666 1px solid; COLOR: #333333; BORDER-BOTTOM: #666666 1px solid; BACKGROUND-COLOR: #efefef
}
.font12b {
	FONT-SIZE: 12px
}
.sxzyb {
	BORDER-RIGHT: #f7f7f7 3px solid; BORDER-TOP: #f7f7f7 3px solid; BORDER-LEFT: #f7f7f7 3px solid; BORDER-BOTTOM: #f7f7f7 3px solid
}
.bbb {
	BORDER-BOTTOM: #cccccc 1px dotted
}
.xxbb {
	BORDER-BOTTOM: #cccccc 1px dashed
}
.b {
	BORDER-RIGHT: #fbffff 2px solid; BORDER-TOP: #fbffff 2px solid; BORDER-LEFT: #fbffff 2px solid; BORDER-BOTTOM: #fbffff 2px solid
}
.tdbj {
	BACKGROUND-IMAGE: url(../../image/tdbj.jpg)
}
.font22 {
	FONT-SIZE: 12px; COLOR: #838383; LINE-HEIGHT: 22px
}
.kstd {
	BORDER-RIGHT: #666666 1px solid; BORDER-TOP: #666666 1px solid; FONT-SIZE: 12px; BORDER-LEFT: #666666 1px solid; COLOR: #333333; LINE-HEIGHT: 12px; BORDER-BOTTOM: #666666 1px solid; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #cccccc
}
.ys {
	COLOR: #999999
}
.xbb {
	BORDER-RIGHT: #d5f4f7 2px solid; BORDER-TOP: #d5f4f7 2px solid; BORDER-LEFT: #d5f4f7 2px solid; BORDER-BOTTOM: #d5f4f7 2px solid
}
.xbmb {
	BORDER-BOTTOM: #a7a7a7 1px solid
}
