DirectoryIndex index.html index.php index.php3 messagebrd.pl index.html index.htm
RewriteEngine On
#RewriteLog  logs/rewrite.log 以下俩条为服务器级别设置
#RewriteLogLevel 2
#RewriteBase /mianbar
RewriteRule ^index.html$  /index.php
RewriteRule ^content[/]?$ index.php
RewriteRule ^content/(.+)/(.+)$ /$1/$2
RewriteRule ^content/([0-9]+)-([0-9]+)-([0-9]+)(\.)html$ show_news.php?id=$3&cat=$1&spec=$2
RewriteRule ^content/(.+)$ /$1
RewriteRule ^content$ index.php
RewriteRule ^category[/]?$ index.php
RewriteRule ^category/([0-9]+)-([0-9]+)/(.*)&page=([0-9]+)$ show_cat.php?cat=$1&spec=$2&page=$4
RewriteRule ^category/([0-9]+)/(.*)&page=([0-9]+)$ show_cat.php?cat=$1&spec=0&page=$3
RewriteRule ^category/(.+)/(.+)/(.+)$ /$2/$3
RewriteRule ^category/(.+)/(.+)$ /$1/$2
RewriteRule ^category/([0-9]+)([/]?)$ show_cat.php?cat=$1&spec=0
RewriteRule ^category/([0-9]+)-([0-9]+)([/]?)$ show_cat.php?cat=$1&spec=$2
RewriteRule ^category/(.+)$ /$1

